.helptop{
    width:100%;
    background: #007e79;
    padding:.16rem .2rem .46rem;
    box-sizing: border-box;
}
.helptop img{
    width:.36rem;
    height:.36rem;
}
.helptop h1{
    font-size:.3rem;
    color:#fff;
    font-weight:800;
    margin-top:.74rem;
}
.helptop input{
    width:100%;
    height:.5rem;
    line-height:.5rem;
    background: #fff;
    border:none;
    border-radius:3px;
    text-indent:6%;
    display: block;
    margin-top:7px;
    font-size:.18rem;
    color: #767676;
}
.helpcontent{
    width:100%;
    background: #fff;
}
.helpcontent .helpcontenttitle{
    width:100%;
    height:.75rem;
    line-height:.75rem;
    box-shadow: 0 0.05rem 0.2rem rgba(0,0,0,.06);
}
.helpcontent .helpcontenttitle span{
    display: block;
    margin-left:.3rem;
    font-size:.16rem;
    color: #484848;
    float: left;
}
.helpcontent .helpcontenttitle span:last-child{
    color: #008489;
    border-bottom: .02rem solid #008489;
}
.helplogin{
    width:100%;
    padding:0 .44rem;
    box-sizing: border-box;
}
.helplogin h1{
    font-size:.3rem;
    color: #484848;
    margin:.5rem 0 .26rem;
}
.loginsearch{
    display: flex;
}
.helplogin input{
    width:.86rem;
    height:.5rem;
    text-align: center;
    border-radius:.03rem;
    line-height:.5rem;
    background: #008489;
    color: #fff;
    border: none;
    font-size:.18rem;
    float: left;
    margin-right:.08rem;
    box-sizing: border-box;
    margin-bottom:.56rem;
}
.helplogin .register{
    background: #fff;
    color: #008489;
    border:.02rem solid #008489;
}
.tuijian{
    width:82%;
    background: #fff;
    margin:0 auto;
    border-top:.01rem solid #ebebeb;
}
.tuijian h1{
    font-size:.3rem;
    color: #484848;
    font-weight:800;
    margin:.66rem 0 .46rem;
}
.tuijiancontent h3{
    font-size:.23rem;
    color: #484848;
    font-weight:800;
    margin-bottom:.24rem;
}
.tuijiancontent p{
    font-size:.16rem;
    color: #484848;
    margin-bottom:.22rem;
}
.tuijiancontent a{
    font-size:.16rem;
    color: #008489;
    margin-bottom:.32rem;
    display: block;
}
.tuijiancontent img{
    width:.52rem;
    height:.52rem;
    margin:.48rem 0 .28rem;
}