.wk {
    width: 100%;
    height: 3rem;
}  
.ws img{
    width: 100%;
    height: 100%;
    position: relative;
}
.ws p{
    font-size: 24px;
    font-weight: 600;
    color:#fff;
    position: absolute;
    left: 6%;
}
.ws .p1{
    top: 42%;
}
.ws .p2{
    top: 54%;
}
.ws .p3{
    top: 68%;
}
.ws .p3 a{
    display: inline-block;
    width: 1.18rem;
    height: .46rem;
    line-height: .46rem;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    color:#fff;
    background:rgba(255, 90, 95);
}
.swiper-pagination-bullet-active{
    background:#fff;
}
.swiper-pagination-bullet{
    width:90px;
    height: 2px;
    border-radius:2px;
}
.ws .p4 a{
    background:transparent;
    border: 1px solid #fff;
}
.lk{
    position: relative;
}
.img1{
    position: absolute;
    top: 8%;
    left: 6%;
    width: .32rem;
    height: .32rem;
    z-index: 2;
}
.img2{
    position: absolute;
    top:8%;
    right: 6%;
    width: .32rem;
    height: .32rem;
    z-index: 2;
}
.lk input{
    width: 86%;
    height: .48rem;
    line-height: .48rem;
    text-indent: 4%;
    border-radius: 3px;
    border: 1px solid #fff;
    outline: none;
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,.01),0 3px 18px rgba(0,0,0,.12);
    position: absolute;
    bottom: -8%;
    left: 7%;
    z-index: 3;
}
.box{
    width: 100%;
    background: #fff;
    padding: .54rem .24rem 0;
    box-sizing: border-box;
}
.box .title h2{
    font-size: 18px;
    color: #484848;
}
.box .title p{
    font-size: 12px;
    color: #484848;
    margin-bottom: .2rem;
}
.box .box-con1-content{
    display:flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.box .box-con1-content .ss{
    border:1px solid #e5e5e5;
    border-radius: 2px;
    flex-shrink: 0;
    width: 40%;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06); 
    margin-right: 2%;
    margin-bottom: .46rem;
}
.ss .de{
    padding: 8px 0 14px 10px;
    box-sizing: border-box;
}
.box .box-con1-content .ss img{
    width: 100%;
    height: .73rem;
}
.box .box-con1-content .ss h3{
    font-size: 14px;
    color: #484848;
}
.box .box-con1-content .ss p{
    font-size: 12px;
    color: #767676;
}
.box .box-con1-content .ss span{
    font-size: 12px;
    color: #767676;
    text-decoration: line-through;
    display: block;
}
.box .uls{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 16px;
}
.box .uls li{
    flex-shrink: 0;
    width: .72rem;
    height: .48rem;
    margin-right: 2%;
    line-height: .48rem;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.box .uls .on{
    background:#008489;
    color:#fff;
}
.box .uls .on a{
    color: #fff; 
}
.box .uls li a{
    font-size: 14px;
    color: #484848;  
    display: block;
}
.box .room{
    display:flex;
    flex-wrap: wrap;
}
.box .room .room1{
    margin-right: 2%;
    padding-bottom: 8%;
    width: 49%;
    flex-shrink: 0;
}
.box .room .room1:nth-child(2n){
    margin-right: 0;
}
.box .room .room1 img{
    width: 100%;
    height: 1.08rem;
}
.box .room .room1 h3{
    font-size: 10px;
    color: #b43143;
}
.box .room .room1 .p1{
    font-size:14px;
    font-weight: 600;
    color: #484848;
}
.box .room .room1 .p2{
    font-size:12px;
    color: #484848;
}
.box .room .room1 .p2 span{
    text-decoration: line-through;
}
.box .room .room1 .p3{
    font-size:10px;
    color: #484848;
}
.box .room input{
    width: 100%;
    height:.34rem;
    line-height: .34rem;
    background: #fff;
    margin: 0 auto .5rem;
    text-align: center;
    border-radius: 3px;
    color: #008489;
    border: 1px solid #008489;
}
.qinzi{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: .2rem;
    margin-bottom: .3rem;
}
.qinzi .lv1{
    margin-right: 3%;
    width: 94%;
    flex-shrink: 0;
}
.qinzi .lv1 img{
    width: 100%;
    height: 2rem;
}
.qinzi .lv1 h3{
    font-size: 12px;
    line-height: 22px;
    color: #b43143;
}
.qinzi .lv1 h2{
    font-size: 14px;
    line-height: 18px;
    color: #484848;
}
.qinzi .lv1 p{
    font-size: 14px;
    color: #484848;
}
.libao{
    width: 100%;
    min-height: 1.64rem;
    margin-bottom: .5rem;
    background: url(../img/hongbao.jpg) no-repeat;
    background-size:100%; 
    position: relative;
}
.libao p{
    font-size: 22px;
    color: #484848;
    font-weight: 600;
    position: absolute;
    left: 6%;
}
.libao .p3{
    top: 14%;
}
.libao .p4{
    top: 30%;
}
.libao input{
    width: 1.56rem;
    height: .48rem;
    border: none;
    border-radius: 3px;
    background: #ff5a5f;
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 6%;
    bottom: 12%;
}
.protect{
    margin-top: .2rem;
    margin-bottom: .5rem;
    display:flex;
}
.protect .pro1{
    width: 33.3%;
    display:flex;
}
.protect .pro1 img{
    width: 21px;
    height: 23px;
    margin: 0 14%;
}
.protect .pro1:first-child img{
    margin-left: 0;
}
.protect .pro1 .bao h3{
    font-size: 12px;
    color: #484848;
}
.protect .pro1 .bao p{
    font-size: 8px;
    color: #646464;
}
.cheng{
    width: 100%;
    padding-bottom: .38rem;
}
.cheng img{
    width: 100%;
}
.cheng .plus{
    display:flex;
    margin: 16px 0 9px;
}
.cheng .plus .p5{
    font-size: 12px;
    color: #fff;
    width: .34rem;
    height: .14rem;
    background: #a61d55;
    margin-right: 2%;
}
.cheng .plus .p6{
    font-size: 12px;
    color: #a02f18;
}
.cheng h3{
    font-size: 16px;
    color: #484848;
}
.cheng p{
    font-size: 16px;
    color: #484848;
}
.box .cha{
    width: 100%;
    height:.34rem;
    line-height: .34rem;
    background: #fff;
    border-radius: 3px;
    color: #008489;
    display: block;
    margin-bottom: .5rem;
    border: 1px solid #008489;
}
.lvxing{
    margin-top: .2rem;
}
.box-con1 .lvxing .room1 a img{
    width: 100%;
    height: 1.57rem;
    border-radius: 6px;
}
.box-con1 .lvxing .room1 h3{
    font-size: 14px;
    color: #484848;
    font-weight: 600;
    line-height: 22px;
}
.box-con1 .lvxing .room1 h3 span{
    font-weight: 100;
}
.box-con1 .lvxing .room1 .p1 img{
    width: .15rem;
    height: .15rem;
    color: #484848;
    display:inline-block;
    vertical-align: middle;
}
.footer{
    border-top: 1px solid #ededed;
    padding: .24rem 0 .5rem;
}
.footer .zhong{
    display: flex;
}
.footer .zhong li{
    width: 48%;
    margin-right: 4%;
    height: .48rem;
    line-height: .48rem;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 3px;
    font-size: 16px;
    color: #484848;
}
.footer .zhong li:nth-child(2n){
    margin-right: 0;
}
.footer .foot-con{
    display: flex;
    margin-bottom: .44rem;
}
.footer .foot-con .foot-ul{
    width: 50%;
    padding-left: 12px;
}
.footer .foot-ul li a{
    font-size: 16px;
    color: #484848;
    margin-top: 24px;
    display: block;
}


